# This is Git's per-user configuration file.
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL

[alias]
  promote = !$DFH/bin/git-promote
  unstage = !git reset --
  prp = pull-request -p
  new = !git init && git symbolic-ref HEAD refs/heads/main

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
